<h1>New Twat</h1>

<%= form_for @changeset, Routes.twat_path(@conn, :create), fn f -> %>

<%= if @changeset.action do %>
<div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
</div>
<% end %>

<%= label f, :user_id %>

<%= label f, :text %>
<%= text_input f, :text %>
<%= error_tag f, :text %>

<div>
<%= submit "Save" %>
</div>
<% end %>