<h1>New Twat</h1>

<%= form_for @changeset, Routes.profile_path(@conn, :createtwat), fn f -> %>

<%= if @changeset.action do %>
<div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
</div>
<% end %>

<%= label f, @current_user.name %>

<%= label f, :text %>
<%= text_input f, :text %>
<%= error_tag f, :text %>

<div>
<%= submit "Save" %>
</div>
<% end %>