<div class="px-20">

  <section class=" text-center bg-lightdark pt-20 pb-14 my-5 rounded-xl shadow-xl">
    <h1 class="text-5xl">Succesfully completed oath login</h1>
  </section>
  
  <%= if assigns[:error] do %>
      <div class=" bg-red-500 p-5 rounded-xl">
        <p> <%= @error %></p>
      </div>
  <% end %>
  
  

</div>  
