.sidebarRoom {
  height: 64px;
}

.sidebarRoom p {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  text-align: center;
  margin: 0;
  padding-left: 20px;
}

.indexpagebutton {
  color: var(--main-color);
  background-color: var(--main-background);
  border-radius: 20px;
  width: 200px;
  height: 64px;
  display: table;
  float: left;
  margin: 10px;
}

.indexpagebutton .material-icons,
.fa-twitter {
  padding: 20px 15px;
}

.indexpagebutton a {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  text-align: center;
}

.indexpagebutton:hover {
  background-color: var(--main-background);
  border-radius: 20px;
  color: var(--main-color);
  transition: color 100ms ease-out;
}

.indexpagebutton.active {
  color: var(--main-color);
}

.languageoptionsdiv{
  position: absolute;
  bottom: 0;
}

.languageoptionheader {
  font-weight: 600;
  font-size: 12px;
  color: gray;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px;
}

.languageoptions {
  display: flex;
  justify-content: space-around;
}

.profilebar {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--main-background);
  padding: 5px 5px;
  margin: 10px 0px;
}

.followercount {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.followercount button {
  font-size: 2.5rem;
}

.post_buttons button {
  justify-content: right;
  background-color: var(--main-color);
  border: none;
  margin: 10px 0px;
}

/*
  Twitter clone stylesheet 
  https://github.com/somanath-goudar/html-css-projects
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  --main-color: #222d3d;
  --main-background: #384963;
}

.sidebarOption {
  background-color: var(--main-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--main-background);
  border-radius: 20px;
  color: var(--main-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--main-color);
}

.sidebar__tweet {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  display: flex;
  height: 100vh;
  
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--main-background); 
  /* flex: 0.2;
  margin: 1em -1em 1em -1em; */

  width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--main-color);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  /* border-right: 1px solid var(--main-background); */
  min-width: fit-content;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.feed__header {
  position: sticky;
  top: 20;
  background-color: var(--main-background);
  z-index: 100;
  border: 1px solid black;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
  vertical-align: middle;
  margin: 0;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.tweetbox__input img {
  border-radius: 50%;
  height: 40px;
}

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--main-background);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetbox__input {
  display: flex;
  padding: 20px;
}

.tweetbox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.tweetBox__tweetButton {
  background-color: var(--main-color);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--main-background);
  padding-bottom: 10px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--main-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--main-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--main-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}
