<div class="my-5">
    <%= link to: @link do %>
        <div class="my-5 flex whitespace-nowrap p-3 items-center space-x-2 text-indigo-600 transition-colors rounded-lg group hover:bg-indigo-600 hover:text-white">
            <p class="px-5" ><%= @text %></p>
        </div>
    <% end %>
</div>