<h1>New User</h1>

<%= render "form.html", action: Routes.user_path(@conn, :create), changeset: @changeset, acceptable_roles: @acceptable_roles, method: "POST" %>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
